#header {
  z-index: 123456;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#header .logout {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #ffffff;
  padding: 10px 23px;
  background: #0d75ff;
  border-radius: 4px;
  text-decoration: none;
}
#header .logout:hover {
  background: rgba(13, 118, 255, 0.7764705882);
}

.main {
  margin-top: 90px;
}

.card-bookmark {
  background: #f8fafd;
  border-radius: 30px;
  justify-content: center;
  padding: 20px;
}

.card-wrapper {
  background: rgba(229, 229, 229, 0.3490196078);
}

.country-length {
  box-shadow: 1px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

.bg-secondarys {
  background: rgba(255, 255, 255, 0.54) !important;
}

.bookmark-btn {
  background: #ffd80d;
  border-radius: 4px;
}
.bookmark-btn:hover {
  background: rgba(255, 215, 13, 0.5137254902) !important;
  border-radius: 4px;
}

.bookmark-info {
  background: rgba(13, 118, 255, 0.23);
  border-radius: 4px !important;
}
.bookmark-info:hover {
  background: rgba(13, 118, 255, 0.189) !important;
  border-radius: 4px !important;
}

.bookmark-redmore {
  background: #75828a !important;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
  width: 93% !important;
}
.bookmark-redmore:hover {
  background: rgba(117, 130, 138, 0.4745098039) !important;
  border-radius: 4px;
  color: white !important;
  margin-top: 10px;
  width: 93% !important;
}

.card-body {
  transition: all 0.3s ease;
}

.red-more-wrap {
  position: fixed;
  right: 0;
  height: 100vh;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 1256734;
  overflow-y: scroll !important;
}

.redmore-top {
  background: #f8fafd;
}

.card-red-more-author span {
  background: rgba(13, 117, 255, 0.09) !important;
  border-radius: 30px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 6px 25px;
  color: #0d75ff;
}

.btn-redmore {
  visibility: hidden;
}
.btn-redmore i {
  font-size: 40px;
}

.red-more-wrap {
  transition: all 0.4s ease;
  transform: translateX(100%);
}

.b {
  transform: translateX(0);
}

.redmore-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.bg {
  background: black;
}

.color {
  color: white !important;
}

@media only screen and (max-width: 992px) {
  .sun-and-logout {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .input-search {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #serach-country {
    margin: 20px auto;
  }
}
.btn-back {
  display: none !important;
}

@media only screen and (max-width: 576px) {
  .red-more-wrap {
    width: 100% !important;
  }
  .btn-redmore {
    visibility: visible;
    position: relative;
    bottom: -60px;
    left: -10px;
  }
  .btn-redmore i {
    font-size: 40px;
  }
  .sm-none-bookmar {
    display: none !important;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100% !important;
    background: white;
    z-index: 122;
    overflow-y: scroll !important;
    height: 90vh;
  }
  .btn-back {
    display: block !important;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.act {
  background: #0d75ff !important;
  color: white !important;
  width: 42px;
  height: 27px;
  transform: translateY(9px);
}

.page-item {
  width: 42px;
  height: 27px;
}

.pagination3 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}/*# sourceMappingURL=main.css.map */